main{
  background-color: #E5E5E5;
}
.App {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.detail-container{
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}


